html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-family: 'Blinker';
    color: #444;
    text-align: center;
    margin-top: 1em;
}
.my-api {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3rem 1rem 4rem 3rem;
    margin: 1rem;
    padding: 1rem;
    background: whitesmoke;
    border-radius: .4rem;
    box-shadow: 2px 2px 8px #888;
    font-family: 'Blinker', sans-serif;
}
.api-name{
    grid-column: 1/-1;
    font-family: Blinker;
}
.api-link{
    text-decoration: none;
    cursor: pointer;
}
.api-link:hover{
    color: #444;
}
.api-description{
    grid-row: 3;
    grid-column: 1/-1
}
.api-auth{
    grid-row: 4;
}
.api-https{
    grid-row: 4;
    grid-column: 3;
}
.main-container{
    max-width: 500px;
    color: rgb(54, 54, 54);
    margin: 0 auto;
}